# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Assets/Downloads/AC 130 Model.fbx.meta
Assets/Downloads/AC 130 Model.fbx
Assets/Downloads/Ch15_nonPBR.fbx
Assets/Downloads/sci-fi-hallway-assetpack-free-too/source/Hallway_asetpack.fbx
Library/Artifacts/5b/5b50ea9199fa4298a18eb74cf141cc1b
Library/Artifacts/8d/8dfdbfa9d69be733ab7386b4bc52013c
